.movie-container {
  flex-direction: column;
  align-items: start;
  gap: 24px;
  padding: 24px;
}

.movie-main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
}

.movie-poster {
  max-width: 375px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #424242;
}

.movie-title {
  padding-bottom: 24px;;
  width: 100%;
  color: #e6c86e;
  border-bottom: 1px solid #424242;
}

.movie-dates {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.movie-date {
  color: #787878;
}

.movie-back-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  border-bottom: 1px solid #bdbcbb;
}

.movie-back-link:focus,
.movie-back-link:hover {
  color: #e6c86e;
  border-color: #e6c86e;
}

.movie-genre-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.movie-genre {
  padding: 6px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  font-weight: 400;

  background-color: #424242;
  color: #cfc7ad;
}

.movie-overview {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: #adabab;
}

.movie-extras {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.extras-link {
  border-bottom: 1px solid #212121;
}

.extras-link:focus,
.extras-link:hover {
  color: #dfdfdf;
  border-bottom: 1px solid #424242;
}

.extras-link.active {
  color: #e6c86e;
  border-color: #e6c86e;
}

/* Tablet */

@media screen and (min-width: 1440px) {
  .movie-main-content {
    flex-direction: row;
  }
}