.navigation {
  width: 100%;
  padding: 4px 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #424242;
}

.nav-link {
  padding: 8px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  font-weight: 700;
  border: 1px solid #212121;
}

.nav-link:focus,
.nav-link:hover {
  color: #dfdfdf;
  border: 1px solid #424242;
}

.nav-link.active {
  color: #212121;
  background-color: #e6c86e;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .navigation {
    padding: 12px 24px;
  }
}