.movie-list-container {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 24px;
  flex-wrap: wrap;
  align-items: end;
}

.movie-list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 8px;

  width: 150px;
}

.movie-list-title {
  font-size: 18px;
  color: #e6c86e;
  text-align: center;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .movie-list-container {
    gap: 36px;
  }
}