*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
input {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: #bdbcbb;
}

.container {
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.loading,
.error {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  font-weight: 600;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 1228px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1600px;
  }
}