.cast-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.cast-list-item {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.cast-character-name {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #e6c86e;
}

.cast-name {
  font-size: 16px;
}
